<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Awesome-pyecharts</title>
            <script type="text/javascript" src="https://assets.pyecharts.org/assets/echarts.min.js"></script>

</head>
<body>
    <div id="84342b3d89bb45d2be290838434cc3ab" style="width:900px; height:500px;"></div>
    <script>
        var chart_84342b3d89bb45d2be290838434cc3ab = echarts.init(
            document.getElementById('84342b3d89bb45d2be290838434cc3ab'), 'white', {renderer: 'canvas'});
        var option_84342b3d89bb45d2be290838434cc3ab = {
    "color": [
        "#c23531",
        "#2f4554",
        "#61a0a8",
        "#d48265",
        "#749f83",
        "#ca8622",
        "#bda29a",
        "#6e7074",
        "#546570",
        "#c4ccd3",
        "#f05b72",
        "#ef5b9c",
        "#f47920",
        "#905a3d",
        "#fab27b",
        "#2a5caa",
        "#444693",
        "#726930",
        "#b2d235",
        "#6d8346",
        "#ac6767",
        "#1d953f",
        "#6950a1",
        "#918597"
    ],
    "series": [
        {
            "type": "pie",
            "clockwise": true,
            "data": [
                {
                    "name": "\u672c\u79d1",
                    "value": 712
                },
                {
                    "name": "\u5927\u4e13",
                    "value": 258
                },
                {
                    "name": "\u4e0d\u9650",
                    "value": 24
                },
                {
                    "name": "\u7855\u58eb",
                    "value": 84
                },
                {
                    "name": "\u535a\u58eb",
                    "value": 2
                }
            ],
            "radius": [
                "0%",
                "75%"
            ],
            "center": [
                "35%",
                "50%"
            ],
            "label": {
                "show": true,
                "position": "top",
                "margin": 8,
                "fontSize": 12,
                "formatter": "{b}: {c}"
            },
            "rippleEffect": {
                "show": true,
                "brushType": "stroke",
                "scale": 2.5,
                "period": 4
            }
        }
    ],
    "legend": [
        {
            "data": [
                "\u672c\u79d1",
                "\u5927\u4e13",
                "\u4e0d\u9650",
                "\u7855\u58eb",
                "\u535a\u58eb"
            ],
            "selected": {},
            "show": true,
            "left": "15%"
        }
    ],
    "tooltip": {
        "show": true,
        "trigger": "item",
        "triggerOn": "mousemove|click",
        "axisPointer": {
            "type": "line"
        },
        "textStyle": {
            "fontSize": 14
        },
        "borderWidth": 0
    },
    "title": [
        {
            "text": "\u5b66\u4f4d\u8981\u6c42"
        }
    ]
};
        chart_84342b3d89bb45d2be290838434cc3ab.setOption(option_84342b3d89bb45d2be290838434cc3ab);
    </script>
</body>
</html>
