<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Awesome-pyecharts</title>
            <script type="text/javascript" src="https://assets.pyecharts.org/assets/echarts.min.js"></script>

</head>
<body>
    <div id="1a8d41a9068043a39a96504046a3c35f" style="width:900px; height:500px;"></div>
    <script>
        var chart_1a8d41a9068043a39a96504046a3c35f = echarts.init(
            document.getElementById('1a8d41a9068043a39a96504046a3c35f'), 'white', {renderer: 'canvas'});
        var option_1a8d41a9068043a39a96504046a3c35f = {
    "color": [
        "#c23531",
        "#2f4554",
        "#61a0a8",
        "#d48265",
        "#749f83",
        "#ca8622",
        "#bda29a",
        "#6e7074",
        "#546570",
        "#c4ccd3",
        "#f05b72",
        "#ef5b9c",
        "#f47920",
        "#905a3d",
        "#fab27b",
        "#2a5caa",
        "#444693",
        "#726930",
        "#b2d235",
        "#6d8346",
        "#ac6767",
        "#1d953f",
        "#6950a1",
        "#918597"
    ],
    "series": [
        {
            "type": "pie",
            "clockwise": true,
            "data": [
                {
                    "name": "23K",
                    "value": 1
                },
                {
                    "name": "12K",
                    "value": 30
                },
                {
                    "name": "20K",
                    "value": 44
                },
                {
                    "name": "9K",
                    "value": 91
                },
                {
                    "name": "27.5K",
                    "value": 6
                },
                {
                    "name": "22.5K",
                    "value": 37
                },
                {
                    "name": "3K",
                    "value": 18
                },
                {
                    "name": "40K",
                    "value": 15
                },
                {
                    "name": "5K",
                    "value": 41
                },
                {
                    "name": "16.5K",
                    "value": 8
                },
                {
                    "name": "11.5K",
                    "value": 55
                },
                {
                    "name": "7K",
                    "value": 53
                },
                {
                    "name": "9.5K",
                    "value": 9
                },
                {
                    "name": "17.5K",
                    "value": 82
                },
                {
                    "name": "21.5K",
                    "value": 8
                },
                {
                    "name": "6K",
                    "value": 18
                },
                {
                    "name": "15K",
                    "value": 57
                },
                {
                    "name": "8.5K",
                    "value": 8
                },
                {
                    "name": "25K",
                    "value": 45
                },
                {
                    "name": "12.5K",
                    "value": 138
                },
                {
                    "name": "1.5K",
                    "value": 3
                },
                {
                    "name": "7.5K",
                    "value": 30
                },
                {
                    "name": "8K",
                    "value": 24
                },
                {
                    "name": "8.25K",
                    "value": 3
                },
                {
                    "name": "6.5K",
                    "value": 9
                },
                {
                    "name": "2.5K",
                    "value": 2
                },
                {
                    "name": "30K",
                    "value": 29
                },
                {
                    "name": "5.5K",
                    "value": 5
                },
                {
                    "name": 15,
                    "value": 4
                },
                {
                    "name": "10K",
                    "value": 21
                },
                {
                    "name": "18.5K",
                    "value": 3
                },
                {
                    "name": "14K",
                    "value": 8
                },
                {
                    "name": "24K",
                    "value": 6
                },
                {
                    "name": "10.5K",
                    "value": 14
                },
                {
                    "name": "15.5K",
                    "value": 2
                },
                {
                    "name": "21K",
                    "value": 4
                },
                {
                    "name": "13K",
                    "value": 5
                },
                {
                    "name": "19.5K",
                    "value": 2
                },
                {
                    "name": "26.5K",
                    "value": 2
                },
                {
                    "name": "9.25K",
                    "value": 1
                },
                {
                    "name": "19K",
                    "value": 4
                },
                {
                    "name": "13.5K",
                    "value": 6
                },
                {
                    "name": "\u85aa\u8d44\u9762\u8baeK",
                    "value": 51
                },
                {
                    "name": "11K",
                    "value": 9
                },
                {
                    "name": "4K",
                    "value": 4
                },
                {
                    "name": "42.5K",
                    "value": 1
                },
                {
                    "name": "7.75K",
                    "value": 1
                },
                {
                    "name": "32.5K",
                    "value": 5
                },
                {
                    "name": "11.25K",
                    "value": 1
                },
                {
                    "name": "50K",
                    "value": 1
                },
                {
                    "name": "14.5K",
                    "value": 4
                },
                {
                    "name": "27K",
                    "value": 3
                },
                {
                    "name": "18K",
                    "value": 8
                },
                {
                    "name": "16K",
                    "value": 11
                },
                {
                    "name": "37.5K",
                    "value": 3
                },
                {
                    "name": "5.65K",
                    "value": 1
                },
                {
                    "name": "110K",
                    "value": 1
                },
                {
                    "name": "35K",
                    "value": 1
                },
                {
                    "name": "22K",
                    "value": 1
                },
                {
                    "name": "25.5K",
                    "value": 2
                },
                {
                    "name": "3.5K",
                    "value": 1
                },
                {
                    "name": "17K",
                    "value": 1
                },
                {
                    "name": "20.5K",
                    "value": 1
                },
                {
                    "name": "3.25K",
                    "value": 2
                },
                {
                    "name": "45K",
                    "value": 7
                },
                {
                    "name": "6.4K",
                    "value": 1
                },
                {
                    "name": "33K",
                    "value": 1
                },
                {
                    "name": "9.75K",
                    "value": 1
                },
                {
                    "name": "6.25K",
                    "value": 1
                },
                {
                    "name": "6.75K",
                    "value": 2
                },
                {
                    "name": "55K",
                    "value": 1
                },
                {
                    "name": "9.15K",
                    "value": 1
                },
                {
                    "name": "4.5K",
                    "value": 1
                }
            ],
            "radius": [
                "20%",
                "75%"
            ],
            "center": [
                "60%",
                "65%"
            ],
            "roseType": "radius",
            "label": {
                "show": false,
                "position": "top",
                "margin": 8,
                "fontSize": 12
            }
        }
    ],
    "legend": [
        {
            "data": [
                "23K",
                "12K",
                "20K",
                "9K",
                "27.5K",
                "22.5K",
                "3K",
                "40K",
                "5K",
                "16.5K",
                "11.5K",
                "7K",
                "9.5K",
                "17.5K",
                "21.5K",
                "6K",
                "15K",
                "8.5K",
                "25K",
                "12.5K",
                "1.5K",
                "7.5K",
                "8K",
                "8.25K",
                "6.5K",
                "2.5K",
                "30K",
                "5.5K",
                15,
                "10K",
                "18.5K",
                "14K",
                "24K",
                "10.5K",
                "15.5K",
                "21K",
                "13K",
                "19.5K",
                "26.5K",
                "9.25K",
                "19K",
                "13.5K",
                "\u85aa\u8d44\u9762\u8baeK",
                "11K",
                "4K",
                "42.5K",
                "7.75K",
                "32.5K",
                "11.25K",
                "50K",
                "14.5K",
                "27K",
                "18K",
                "16K",
                "37.5K",
                "5.65K",
                "110K",
                "35K",
                "22K",
                "25.5K",
                "3.5K",
                "17K",
                "20.5K",
                "3.25K",
                "45K",
                "6.4K",
                "33K",
                "9.75K",
                "6.25K",
                "6.75K",
                "55K",
                "9.15K",
                "4.5K"
            ],
            "selected": {},
            "show": true,
            "left": "30%"
        }
    ],
    "tooltip": {
        "show": true,
        "trigger": "item",
        "triggerOn": "mousemove|click",
        "axisPointer": {
            "type": "line"
        },
        "textStyle": {
            "fontSize": 14
        },
        "borderWidth": 0
    },
    "title": [
        {
            "text": "\u85aa\u8d44\u5206\u5e03\u73ab\u7470\u56fe"
        }
    ]
};
        chart_1a8d41a9068043a39a96504046a3c35f.setOption(option_1a8d41a9068043a39a96504046a3c35f);
    </script>
</body>
</html>
